.o_video_content_field {
    width: 100%;
    max-width: 100%;
    
    .video-wrapper {
        width: 100%;
        max-width: 100%;
        overflow: hidden;  
    }
    
    .video-container {
        width: 100%;
        max-width: 100%;
        
        &.ratio {
            position: relative;
            width: 100%;
            
            &::before {
                display: block;
                padding-top: 56.25%; 
                content: "";
            }
            
            > * {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    
    .plyr {
        width: 100% !important;
        max-width: 100% !important;
        height: 100% !important;
        
        .plyr__video-wrapper {
            width: 100% !important;
            height: 100% !important;
        }
        
        video {
            width: 100% !important;
            height: 100% !important;
            object-fit: contain; 
        }
        
        .plyr__controls {
            position: relative;
        }
    }
    
    .video-loading-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.7);
        z-index: 10;
        border-radius: 4px;
    }
}