.e_sublimation_image_box {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: visible;
    
    a {
      display: block;
      width: 100%;
      height: 100%;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3px;
        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        cursor: zoom-in;
        
        &:hover {
          position: fixed;
          top: 0;
          left: 0;
          width: 80vw;
          height: 80vh;
          object-fit: contain;
          background: rgba(0, 0, 0, 0.9);
          z-index: 9999;
          cursor: zoom-out;
          border-radius: 0;
        }
      }
    }
  }
